.w-about-us {
    &__title {
        line-height: 1.713;
    }

    p {
        margin-top: 22px;
        margin-bottom: 22px;
        line-height: 1.6;
    }

    &__txt-link {
        color: $cl-hl;
        text-decoration: none;
        line-height: 1.4;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        &:hover {
            opacity: 1;
        }

        i {
            font-size: toRem(14);
            position: relative;
            left: 8px;
        }
    }

}