.post-detail {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 0;
    
    &__entry-header {
        text-align: center;
        margin-top: 55px;
        margin-bottom: 28px;
    }
    
    &__title {
        line-height: 1.4;
        margin-bottom: 14px;
        margin-top: 12px;
    }
    
    &__cat {
        text-transform: uppercase;
        font-size: toRem(12);
        color: $cl-black;
        letter-spacing: 2px;
        display: block;
        position: relative;
        padding-bottom: 16px;
        line-height: 1;
        
        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 20px;
            height: 3px;
            background-color: $cl-gray;   
            opacity: 0.2;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    &__title {
        font-size: toRem(32);
        font-weight: 300;
    }
    
    &__entry-meta {
        color: $cl-gray;
        letter-spacing: 1px;
        line-height: 1.4;
    }
    
    &__by {
        font-style: italic;
    }
    
    &__content {
        font-size: toRem(16);
        line-height: 1.713;
        padding-bottom: 40px;
    }
    
    img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
