.search-page {
    .page-header__sub-title {
        text-align: center;
        color: $cl-hl-bold;
        font-size: toRem(18);
        margin-top: -20px;
        margin-bottom: -30px;
    }

    .page-header__title {
    	font-size: toRem(28)
    }

    .not-found {
	    min-height: 200px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    
	    span {
	        font-size: 18px;
	        text-align: center;
	        padding: 15px 40px;
	        background-color: #aaa;
	    }
	}

    @media screen and (min-width: $screen-xs) {
    	.page-header__sub-title {
    		margin-bottom: -10px;
    	}

    	.page-header__title {
	    	font-size: toRem(32)
	    }
		
		.not-found {
	        min-height: 300px;
	        
	        span {
	            font-size: 22px;
	        }
		}

    }
}