.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__tag-line {
        margin-top: 20px;
        max-width: 500px;
        p {
            margin: 0;
            color: $cl-white;
            line-height: 1.74;
            
        }
    }

    &__logo {
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }
    
    &__social-profile {
        margin-top: 25px;
    }
    
    &__social_list {
        list-style: none;
        padding: 0;
    }
    
    &__social-item {
        width: 38px;
        height: 38px;
        border: 1px solid;
        color: $cl-white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
                
        svg {
           font-size: 12px;
            color: $cl-white;
            pointer-events: none;
        }

        &:hover {
            color: $cl-hl;
            
            svg {
                color: $cl-hl;
            }
        }
    }
}

.site-footer {
    margin-top: 40px;
    color: $cl-white;

    a {
        color: $cl-white;
        text-decoration: none;
        
        &:hover {
            color: $cl-hl;
        }
    }
}

.top-side-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    &__side-menu-icon,
    &__search-icon{
        margin-right: 20px;
        cursor: pointer;
        svg {
            font-size: 18px;
            color: $cl-black;
            pointer-events: none;
            
            &:hover {
                color: $cl-hl;
            }
        }
    }
    
    &__search-toogle {
        display: none;
    }
    
    &__form-input {
        position: relative;
        transition: all .4s ease-out;
        width: 0;
        display: inline-block;
        opacity: 0;

        &:focus,
        &:active {
        	@include no-tap-highlight;
        }
    }
    
    &__search-toogle:checked ~  &__form &__form-input {
        width: 160px;
        opacity: 1;
    }
    
    &__form-input {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-color: $cl-black;
        padding-bottom: 5px;
        margin-top: -5px;
        background-color: transparent;
        font-size: 12px;

        &:focus,
        &:active
        
        &::placeholder {
            color: $cl-black;
            font-size: 12px;
        }
    } 

    @media screen and (min-width: $screen-sm) {
        &__search-toogle:checked ~  &__form &__form-input {
            width: 220px;
            opacity: 1;
        }
    }
}